# Auto detect text files and perform LF normalization
* text=auto

# Lua sources
*.lua text eol=lf

# Luau sources
*.luau text eol=lf

# Config files
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
